<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<a href="/">Glavnoe menyu</a>
<!--Opredelenniya product-->
Nazvanie: {{ product.product_name }}<br>
Opisanie: {{ product.product_des }}<br>
Cena: {{ product.product_prise }}<br>
Kolichestvo na sklade: {{ product.product_count }}<br>
Categoriya: {{ product.product_category }}

<form action="" method="post">
    {% csrf_token %}
    <input type="number" name="user_product_quantity">
    <button>Заказать</button>
</form>

</body>
</html>